.app__products {
    display: flex;
    flex-direction: column;

    padding: 0 10px 0 10px;
}

.app__products-title {
    /* Heading / H4 */

    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */

    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    /* Black / 500 */
    color: #6F6F6F;

    margin: 0 0 20px 0;
}

.app__products-chip {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;

    margin: 0 0 16px 0;
}

.app__products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

@media screen and (max-width: 1420px) {
    .app__products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1155px) {
    .app__products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 850px) {
    .app__products-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}