@use "../../scss/color.scss";
@use "../../scss/mixin.scss";

.tag-view {
    width: 296px;
    height: 274px;
}

.tag-view__title {
    @include mixin.font(600, 0.8125rem, 1.125rem, color.$gray-500, normal);
    margin: 0 0 0.75rem 0;
}

.tag-view__body {}