@use "../../scss/color.scss";
@use "../../scss/mixin.scss";

.tag-view {
    width: 18.5em;
    height: 17.125em;
}

.tag-view__title {
    @include mixin.create-font(600, 0.8125rem, 1.125rem, color.$gray-500, normal);
    margin: 0 0 0.75rem 0;
}

.tag-view__body {
    width: 18.5em;
    height: 15.25em;
}

.tag-view__search {
    padding: 1.5em 1.5em 0.75em 1.5em;
}

.tag-view__tags {
    width: 17em;
    height: 8.875em;
    display: flex;
    flex-direction: column;
    gap: 1.125em;
    overflow-y: scroll;
    padding: 0.35em 1.5em 0.8125em 1.5em;
}

.tag-view__text {
    @include mixin.create-font(400, 0.8125rem, 1.125rem, color.$black-600, 0.01rem);
}

.tag-view__count {
    color: color.$black-300;
    margin: 0.25em;
}