@use "../../scss/color.scss";
@use "../../scss/mixin.scss";

.chip {}

.chip__input {
    display: none;
}

.chip__body {
    @include mixin.reset-button;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.375em 1em 0.375em 1em;
    gap: 0.5em;
    background: color.$gray-100;
    border-radius: 2px;
}

.chip__text {
    @include mixin.create-font(600, 0.8125rem, 1.125rem, color.$blue-100, normal);
}

.chip__input:checked+.chip__body {
    background: color.$blue-100;
}

.chip__input:checked+.chip__body p {
    color: color.$gray-100;
}