@use "../../scss/color.scss";
@use "../../scss/mixin.scss";

.counter {
    display: flex;
    flex-direction: row;
    width: 4.625rem;
    height: 2.04375rem;
    gap: 0.4375rem;
}

.counter__decrease-button {
    @include mixin.reset-button;
}

.counter__decrease-icon {
    width: 0.9em;
    height: 0.20em;
    margin: 0.11em 0 0 0;
}

.counter__decrease-icon rect {
    fill: color.$blue-100;
    stroke: color.$blue-100;
    stroke-width: 0.05em;
    stroke-linejoin: round;
    width: 0.8em;
    height: 0.14em;
}

.counter__decrease-button:hover .counter__decrease-icon rect {
    fill: color.$gray-700;
    stroke: color.$gray-700;
}

.counter__decrease-button:active .counter__decrease-icon rect {
    fill: color.$gray-700;
    stroke: color.$gray-700;
}

.counter__label {
    @include mixin.create-font(700, 0.9375rem, 1.25rem, color.$white, normal);
    width: 2rem;
    height: 2.04375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color.$blue-100;
}

.counter__increase-button {
    @include mixin.reset-button;
}

.counter__increase-icon {
    width: 1em;
    height: 1em;
    margin: 0.15em 0 0 0;
}

.counter__increase-icon path {
    fill: none;
    stroke: color.$blue-100;
    stroke-width: 0.085em;
    stroke-linejoin: round;
}

.counter__increase-button:hover .counter__increase-icon path {
    stroke: color.$gray-700;
}

.counter__increase-button:active .counter__increase-icon path {
    stroke: color.$gray-700;
}