@use "../../scss/color.scss";
@use "../../scss/mixin.scss";

.brand-view {
    width: 18.5em;
    height: 17.125em;
}

.brand-view__title {
    @include mixin.font(600, 0.8125rem, 1.125rem, color.$gray-500, normal);
    margin: 0 0 0.75rem 0;
}

.brand-view__body {
    width: 18.5em;
    height: 15.25em;
}