@use "../../scss/color.scss";
@use "../../scss/mixin.scss";

.option-button {
    @include mixin.reset-button;
    margin: 0 0 0 1em;
    position: relative;
}

.option-button__close-icon {
    width: 1.5em;
    height: 1.5em;
    fill: none;
    stroke: color.$white;
}

.option-button__menu-icon {
    width: 1.5em;
    height: 1.5em;
    fill: none;
    stroke: color.$white;
}