@use "../../scss/color.scss";

.sliding-view {
    position: absolute;
    left: 1.5em;
    top: 4.5em;
    background-color: color.$gray-50;
    border-radius: 2px;
    border: 0.5em solid #1EA4CE;
    padding: 1em 1em 1em 1em;
}

@media screen and (max-width: 700px) {
    .sliding-view {
        left: 1em;
    }
}