@use "../../scss/color.scss";
@use "../../scss/mixin.scss";

.item-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 7.75em;
    height: 14em;

    margin: 1.3em 0.6em 0 0.6em;
}

.item-view__bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 7.7em;
    height: 7.7em;

    background: #FEFEFE;
    border: 1.1px solid #F3F0FE;
    border-radius: 12px;
}

.item-view__body {
    display: flex;
    flex-direction: column;
}

.item-view__price {
    @include mixin.font(400, 0.875rem, 1.125rem, color.$blue-100, normal);
}

.item-view__name {
    @include mixin.font(600, 0.875rem, 1.25rem, color.$gray-700, normal);
}

.item-view__button {
    margin: 0.125rem 0px 0.125rem 0px;
    padding: 0.125rem 0.125rem 0.125rem 0.125rem;
    border-radius: 2px;

    background: #1EA4CE;

    @include mixin.reset-button;
    @include mixin.font(600, 0.75rem, 1.25rem, color.$white, normal);
}