@use "../../scss/color.scss";
@use "../../scss/mixin.scss";

.sorting-view {
    width: 18.5em;
    height: 13.375em;
}

.sorting-view__title {
    @include mixin.font(600, 0.8125rem, 1.125rem, color.$gray-500, normal);
    margin: 0 0 0.75rem 0;
}

.sorting-view__body {
    width: 18.5em;
    height: 11.5em;
    padding: 1.5em 1.5em 1.5em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}