.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #1EA4CE;
    height: 4.5em;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.header__center {
    grid-column: 2 / 3;
    justify-self: center;
}

.header__right {
    grid-column: 3 / 4;
    justify-self: end;
}