@use "../../scss/color.scss";
@use "../../scss/mixin.scss";

.menu-button {
    @include mixin.reset-button;
}

.menu-button__icon {
    width: 0.875rem;
    height: 0.875rem;
    fill: none;
    stroke: color.$white;
}