@use "../../scss/color.scss";
@use "../../scss/mixin.scss";

.product-item-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 7.75em;
    height: 14.0625em;

    margin: 1.3em 0.6em 0 0.6em;
}

.product-item-view__bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 7.7em;
    height: 7.7em;

    background: color.$gray-200;
    border: 1.1px solid color.$gray-300;
    border-radius: 12px;
}

.product-item-view__body {
    display: flex;
    flex-direction: column;
}

.product-item-view__price {
    @include mixin.create-font(400, 0.875rem, 1.25rem, color.$blue-100, normal);
}

.product-item-view__name {
    @include mixin.create-font(600, 0.875rem, 1.25rem, color.$gray-700, normal);
    height: 2.5rem;
}

.product-item-view__button {
    @include mixin.reset-button;
    @include mixin.create-font(600, 0.75rem, 1.25rem, color.$white, normal);
    margin: 0.125rem 0px 0.125rem 0px;
    padding: 0.125rem 0.125rem 0.125rem 0.125rem;
    border-radius: 2px;
    background-color: color.$blue-100;
}

.product-item-view__button--active {
    background-color: color.$white;
    color: color.$blue-100;
    padding: 0 0 0 0;
    border: 0.125rem solid color.$blue-100;
}