.product-item-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 7.75em;
    height: 14em;

    margin: 1.3em 0.6em 0 0.6em;
}

.product-item-view__bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 7.7em;
    height: 7.7em;

    background: #FEFEFE;
    border: 1.1px solid #F3F0FE;
    border-radius: 12px;
}

.product-item-view__body {
    display: flex;
    flex-direction: column;
}

.product-item-view__price {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    /* or 143% */

    color: #1EA4CE;
}

.product-item-view__name {}

.product-item-view__button {
    display: block;
    width: 100%;

    border: none;
    outline: none;
    cursor: pointer;

    margin: 0.125rem 0px 0.125rem 0px;
    padding: 0.125rem 0.125rem 0.125rem 0.125rem;
    border-radius: 2px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.25rem;
    /* identical to box height, or 167% */

    color: #fff;
    background: #1EA4CE;
}