@use "../../scss/color.scss";
@use "../../scss/mixin.scss";

.product-view {
    display: flex;
    flex-direction: column;

    width: 38em;
}

.product-view__title {
    @include mixin.create-font(400, 1.25rem, 1.625rem, color.$black-400, 0.015625rem);
    margin: 0 0 1.25rem 0;
}

.product-view__chip {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 0 0 1em 0;
}

.product-view__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

@media screen and (max-width: 1420px) {
    .product-view__body {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1155px) {
    .product-view__body {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 850px) {
    .product-view__body {
        grid-template-columns: repeat(1, 1fr);
    }
}