.product-view {
    display: flex;
    flex-direction: column;

    padding: 0 10px 0 10px;
}

.product-view__title {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem; // 20px;
    line-height: 1.625rem; // 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.015625rem; // 0.25px;
    color: #6F6F6F; // black-400
    margin: 0 0 1.25rem 0;
}

.product-view__chip {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 0 0 1em 0;
}

.product-view__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

@media screen and (max-width: 1420px) {
    .product-view__body {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1155px) {
    .product-view__body {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 850px) {
    .product-view__body {
        grid-template-columns: repeat(1, 1fr);
    }
}