@use "../../scss/color.scss";
@use "../../scss/mixin.scss";

.basket-view {
    height: 4.5em;
    width: 8.0625em;
    display: inline-flex;
    margin: 0 6.5rem 0 0;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
}

.basket-view:hover {
    background-color: color.$blue-200;
}

.basket-view:focus {
    background-color: color.$blue-200;
}

.basket-view__icon {
    width: 1.5em;
    height: 1.5em;
}

.basket-view__icon path {
    fill: color.$white;
}

.basket-view__price {
    @include mixin.create-font(600, 0.8125rem, 1.125rem, color.$white, 0.01rem);
    margin: 0 0 0 0.5rem;
    padding: 0.1rem 0 0 0;
}

.basket-view__popup {
    padding: 2rem;
    position: absolute;

    right: 0;
    top: 6rem;

    min-width: 18rem;

    border-radius: 2px;
    border: 0.5rem solid color.$blue-100;
}

@media screen and (max-width: 700px) {
    .basket-view {
        margin: 0;
    }

    .basket-view__price {
        display: none;
    }

    .basket-view__popup {
        margin: 0;
    }
}