@use "../../scss/color.scss";
@use "../../scss/mixin.scss";

.basket-view {
    padding: 2rem;
    position: absolute;

    right: 0;
    top: 6rem;

    min-width: 18rem;

    border-radius: 2px;
    border: 0.5rem solid color.$blue-100;
}

@media screen and (max-width: 700px) {
    .basket-view {
        margin: 0;
    }

    .basket-view__price {
        display: none;
    }

    .basket-view__popup {
        margin: 0;
    }
}