@use "../../scss/color.scss";
@use "../../scss/mixin.scss";

.basket-view {
    padding: 1.660625em 1em 1.021875em 1em;
    position: absolute;
    right: 0;
    top: 6em;
    width: 18.5em;
    min-height: 9em;
    border-radius: 2px;
    border: 0.5em solid color.$blue-100;
    background-color: color.$white;
    display: flex;
    flex-direction: column;
    gap: 1.04em;
}

.basket-view__total {
    @include mixin.create-font(600, 0.875rem, 1rem, color.$gray-700, normal);
    width: 5.75rem;
    height: 3.19375rem;
    color: color.$blue-100;
    border: 0.125rem solid color.$blue-100;
    border-radius: 2px;
    background-color: color.$white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 9.75rem;
}

@media screen and (max-width: 700px) {
    .basket-view {
        margin: 0;
    }
}