@mixin font($font-weight, $font-size, $line-height, $color, $letter-spacing) {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $color;
}

@mixin reset-button {
    border: none;
    outline: none;
    cursor: pointer;
}