@use "./color.scss";

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: color.$black-100;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: unset;
    background-color: transparent;
}